body {
    color: navy;
    font-family:verdana
}

h1 {
    color:maroon
}

h2 {
    color:brown
}

h3 {
    color:green
}

a {
    color:blue
}

a:hover {
    color:green;
    background-color:yellow
}
